*\#*
*~
*.o
*.a
*.so
*.so.*
*.su
*.lo
*.bo
/contacts
/contacts.c
/add-contact
/find-contact-by-chat
/find-contact-by-email
/find-contact-by-name
/find-contact-by-number
/find-contact-by-organisation
/find-contact-by-pgpkey
/find-contact-by-photo
/find-contact-by-site
/get-contact-birthday
/get-contact-chats
/get-contact-emails
/get-contact-file
/get-contact-gender
/get-contact-groups
/get-contact-name
/get-contact-notes
/get-contact-numbers
/get-contact-organisations
/get-contact-pgpkeys
/get-contact-photos
/get-contact-sites
/is-contact-ice
/list-birthdays
/list-chat-contacts
/list-contact-groups
/list-contact-organisations
/list-contacts
/list-group-contacts
/list-organisation-contacts
/print-contact
/remove-contact
/set-contact-birthday
/set-contact-chats
/set-contact-emails
/set-contact-gender
/set-contact-groups
/set-contact-ice
/set-contact-name
/set-contact-notes
/set-contact-numbers
/set-contact-organisations
/set-contact-pgpkeys
/set-contact-photos
/set-contact-sites
